/* General styles for all screen sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #444;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin: 20px auto;
}

.profile-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.profile-image:hover img {
  transform: scale(1.1);
}

.hero-section {
  padding: 50px 20px;
  text-align: center;
}

.hero-section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.cv-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.cv-button:hover {
  background-color: #ff8533;
}

main {
  padding: 20px;
}

.latest-work {
  text-align: center;
  margin-bottom: 30px;
}

.latest-work h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.latest-work a {
  display: inline-block;
  margin: 10px;
}

.latest-work img {
  width: 100%; /* Adjusted for responsiveness */
  max-width: 300px; /* Adjust as needed */
  height: auto;
  border-radius: 5px;
}

.next-page-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.next-page-button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media query for smaller screens (mobile) */
@media (max-width: 767px) {
  .profile-image {
    width: 150px;
    height: 150px;
  }

  .hero-section {
    padding: 30px 10px;
  }

  .hero-section h1 {
    font-size: 2em;
  }

  .latest-work img {
    max-width: 100%;
  }
}

  